/* Style boby */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styles header */
header {
    display: flex;
  
    background-color: grey;
    color: white;
    padding: 1rem;
    align-items: center;
}

header h1 {
margin: 0;
}

.header nav {
    display: flex;
    justify-content: flex-end;
}

/* Style nav bar */
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Style section */
section {
    padding: 2rem;
}

section h2 {
    margin-bottom: 1rem;
}

/* Hero section styles */
.hero-image {
    background-image: -moz-linear-gradient url(/images/vecteezy_technology-background-concept-circuit-board-electronic_6430145.jpg);
    height: 50%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: blue;
    color: white;
    text-decoration: none;
    margin-top: 1rem;
    border-radius: 5px;
}

/* Style contact section */
.contact-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style footer */
footer {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 1rem;
}